/* @import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap'); */

/* tailwind import  */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* @layer base {
  a {
    @apply transition duration-150 ease-in-out w-9/12 hover:text-green-600 focus:text-green-600;
  }
} */

.hero {
  background-image: url('/images/herocode.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #ccc;
}

.bar-of-progress {
  z-index: 50;
}
